
@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan-webfont.eot") format("eot"),
      url("../fonts/BYekan-webfont.woff") format("woff"),
      url("../fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
 
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
 
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
  direction: rtl;
 
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: black;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  text-align: right;
  /* font-family: "BYekan" !important; */
  font-size: 15px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
 
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
 
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
 
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: red;
 
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
#BtnSubmitLogin{
  font-family: "BYekan";
  width: 400px;
  font-size: 19px;
  /* height: 45px; */
  background-color: #4e9dfb;
  border-radius: 7px;

 
}
#checkboxText{
  font-family: "BYekan";
  color: white;
}
#CopyrightsText{
  text-align: center;
  margin-top: 55px;
}
#Layer_1{
  width: 75px;
  height: 75px;
  text-align: center;
  position: relative;
  margin-left: 25px;
}

@media only screen and (max-width: 426px) {
#BtnSubmitLogin{
  max-width: 100%;
}
}